<ion-header>
  <ion-navbar color="primary">
    <ion-title>TRACKSi</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="signout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let peripheral of peripherals">
    <button ion-button block color="accent" *ngIf="peripheral.state == 0 && !didScan" (click)="onLockSwitchChange(peripheral)">
      BLE  - Lock {{ peripheral.name || 'TRACKSi' }}!
    </button>
    <button ion-button block color="accent" *ngIf="peripheral.state == 1 && !didScan" (click)="onLockSwitchChange(peripheral)">
      BLE - Unlock {{ peripheral.name || 'TRACKSi' }}
    </button>
  </ion-card>
  <ion-card *ngFor="let configObject of configObjects">
    <ion-item>
      <h2>Current state: <b>{{ configObject.currentStateName }}</b></h2>
      <p>Updated {{ configObject.get('updatedAt') | amCalendar }}</p>
    </ion-item>
    <ion-card-content *ngIf="configObject.get('lat')">
      <agm-map [latitude]="configObject.get('lat') || 0" [longitude]="configObject.get('long') || 0" [zoom]="14" [minZoom]="5" [zoomControl]="false" [disableDefaultUI]="true" [streetViewControl]="false" [mapDraggable]="false" [gestureHandling]="cooperative">
        <agm-marker [latitude]="configObject.get('lat') || 0" [longitude]="configObject.get('long') || 0"></agm-marker>
      </agm-map>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
            <button ion-button icon-right (click)="lock()"><ion-icon name="lock"> Lock</ion-icon></button>
          </ion-col>
          <ion-col>
            <button ion-button icon-right (click)="unlock()"><ion-icon name="unlock"> Unlock</ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
